<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!-- org.hibernate.dialect.OracleDialect 解决只返回一个字符的问题 -->
	<!-- framework.db.MyOracle10gDialect -->
	<!-- mysql5.0:org.hibernate.dialect.MySQLDialect -->
	<!-- mysql5.0+:org.hibernate.dialect.MySQL5InnoDBDialect -->
	<property name="dialect">framework.db.MySqlDialect</property>
	<!-- <property name="connection.url">jdbc:mysql://tobsenl.gicp.net:23599/nssc?useUnicode=true&amp;characterEncoding=GBK&amp;useOldAliasMetadataBehavior=true</property>
	<property name="connection.username">root</property> 
	<property name="connection.password"></property> -->
	<property name="connection.url">jdbc:mysql://192.168.1.32:3306/nssc?useOldAliasMetadataBehavior=true</property>
	<property name="connection.username">bxdz</property> 
	<property name="connection.password">bxdz123</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.autoReconnect">true</property>
	<property name="connection.autoReconnectForPools">true</property>
	<property name="connection.is-connection-validation-required">true</property>
	<property name="myeclipse.connection.profile">JDBC</property>
	<property name="connection.pool_size">30</property>
	<property name="format_sql">true</property>
	<property name="show_sql">true</property>
	
	
	<mapping resource="framework/db/pojo/TXtEmp.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtKeyValue.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtMenu.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtHelp.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtUser.hbm.xml" />
	<mapping resource="framework/db/pojo/TPbUploadfile.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtRoleMenu.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtRole.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtRoleUser.hbm.xml" />
	<mapping resource="framework/db/pojo/TFormConfig.hbm.xml" />
	<mapping resource="framework/db/pojo/TFormValue.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtCacheTable.hbm.xml" />
	<mapping resource="framework/db/pojo/TWfActivityConfig.hbm.xml" />
	<mapping resource="framework/db/pojo/TWfTaskTrack.hbm.xml" />
	<mapping resource="framework/db/pojo/TWfTask.hbm.xml" />
	<mapping resource="framework/db/pojo/TWfConfig.hbm.xml" />
	<mapping resource="framework/db/pojo/SysCode.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtOrg.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtPosition.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtGroup.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtGroupUser.hbm.xml" />
	<mapping resource="framework/db/pojo/TWfTaskProxy.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtWorkday.hbm.xml" />
	<mapping resource="framework/db/pojo/TXtMessage.hbm.xml" />
	<mapping resource="framework/db/pojo/TFormTableValue.hbm.xml" />
	<mapping resource="framework/db/pojo/TPbDatasource.hbm.xml" />
	
	
	
	<mapping resource="cn/sqkj/nsyl/goodsManager/pojo/NsGoods.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/goodsManager/pojo/NsGoodsCategory.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/commentManager/pojo/NsComment.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/orderManager/pojo/NsOrder.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/orderManager/pojo/NsOrderDetail.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/advertiseManager/pojo/NsAdvertise.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/eventsManager/pojo/NsEventsinfo.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/eventsManager/pojo/NsEventsGoods.hbm.xml" />
	
	<mapping resource="cn/sqkj/nsyl/userManager/pojo/NsUser.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/userManager/pojo/NsUserGrade.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/userManager/pojo/NsUserPurse.hbm.xml" />
	
	<mapping resource="cn/sqkj/nsyl/coupon/pojo/NsCoupon.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/coupon/pojo/NsUserCoupon.hbm.xml" />
	
	<mapping resource="cn/sqkj/nsyl/db/po/NsDictionaries.hbm.xml" />
	
	
	<!-- <mapping resource="cn/sqkj/nsyl/db/po/NsCart.hbm.xml" />
	<mapping resource="cn/sqkj/nsyl/db/po/NsAddress.hbm.xml" /> -->
	<mapping resource="framework/db/pojo/TAuditLog.hbm.xml" />
	
	
	
</session-factory>
</hibernate-configuration>